/* components/Layout.module.css */
.layout {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    justify-content: space-between;
}

.header {
    background: #0070f3;
    padding: 15px;
    color: white;
}

.main {
    flex: 1;
    padding: 20px;
}

.footer {
    background: #0070f3;
    color: white;
    text-align: center;
    padding: 10px;
}
